@import '../../../styles/abstracts/variables';
@import '../../../styles/base/button';

.sorting-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 60rem;
    width: 100%;
    font-size: 2.5rem;
    background-color: lighten($color-primary-light-1, 18%);
    transition: all 0.1s ease;

    & > *:nth-child(2) {
        width: 100%;
    }
}

.section-half,
.section-quarter {
    font-size: 1.9rem;
    min-width: 71rem;
    width: 49.5%;
}

.section-half {
    min-height: 35rem;
    height: 50rem;
    // &:last-child {
    // 	margin-left: auto;
    // }
}

.section-quarter {
    min-height: 30rem;
    height: 33rem;
}
