@import "../../styles/abstracts/variables";
@import "../../styles/base/button";

.sorting-bar {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	// border: 1px solid $color-grey-dark-4;
	font-size: 2rem;
}

.inner-bar {
	background-color: $color-grey-dark-1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 80%;
	font-size: 60%;
	&:hover {
		background-color: $color-grey-dark-3;
	}
}

.bar-pending {
	background-color: $color-gold-light;

	&:hover {
		background-color: $color-gold;
	}
}

.bar-swapped {
	background-color: $color-secondary;

	&:hover {
		background-color: $color-secondary-dark-3;
	}
}

.bar-sorted {
	background-color: $color-primary-dark-3;

	&:hover {
		background-color: $color-primary-dark-4;
	}
}

.bar-final {
	background-color: $color-primary-light-2;
	&:hover {
		background-color: $color-primary;
	}
}

.bar-pivoted,
.bar-selected {
	background-color: #cdb4db;

	&:hover {
		background-color: #b69ac7;
	}
}

// Search Specific
.bar-correct,
.bar-final-valid {
	background-color: #95d5b2;

	&:hover {
		background-color: #74c69d;
	}
}

.bar-incorrect,
.bar-final-invalid {
	background-color: $color-secondary-dark-1;

	&:hover {
		background-color: $color-secondary-dark-3;
	}
}

.bar-pointed {
	background-color: #cdb4db;

	&:hover {
		background-color: #b69ac7;
	}
}
