@import "../../styles/abstracts/variables";
@import "../../styles/base/button";

.sorting-bar {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	// border: 1px solid $color-grey-dark-4;
	font-size: 2rem;
	position: relative;

	.icon {
		position: absolute;
		top: 0;
		font-size: 1.5rem;
		color: $color-secondary;
	}

	.inner-bar {
		background-color: $color-grey-dark-1;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 80%;
		font-size: 60%;
		&:hover {
			background-color: $color-grey-dark-3;
		}
	}

	.bar-pending {
		background-color: $color-gold-light;

		&:hover {
			background-color: $color-gold;
		}
	}

	.bar-swapped {
		background-color: $color-tertiary;

		&:hover {
			background-color: $color-tertiary-dark-3;
		}
	}

	.bar-sorted {
		background-color: $color-primary-dark-3;

		&:hover {
			background-color: $color-primary-dark-4;
		}
	}

	.bar-final {
		background-color: $color-primary-light-2;
		&:hover {
			background-color: $color-primary;
		}
	}

	.bar-pivoted {
		background-color: #a3c4f3;

		&:hover {
			background-color: #79a4e0;
		}
	}

	.bar-selected {
		background-color: #cdb4db;

		&:hover {
			background-color: #b69ac7;
		}
	}

	.bar-pointed {
		background-color: #cdb4db;

		&:hover {
			background-color: #b69ac7;
		}
	}

	// Search Specific
	.bar-correct,
	.bar-final-valid {
		background-color: #95d5b2;

		&:hover {
			background-color: #74c69d;
		}
	}

	// Search Specific
	.bar-incorrect,
	.bar-final-invalid {
		background-color: $color-tertiary-dark-1;

		&:hover {
			background-color: $color-tertiary-dark-3;
		}
	}

	// QuickSort pointers
	.bar-left-pointed {
		background-color: #b9fbc0;

		&:hover {
			background-color: #93f39d;
		}
	}

	.bar-right-pointed {
		background-color: #98f5e1;

		&:hover {
			background-color: #62d8be;
		}
	}

	.icon-left-pointed {
		color: #b9fbc0;

		&:hover {
			color: #85ec90;
		}
	}

	.icon-right-pointed {
		color: #98f5e1;

		&:hover {
			color: #62d8be;
		}
	}
}
