.search-visualizer {
    // max-height: clamp(100vh, 75rem, 770px);
    display: flex;
    flex-direction: column;
}

.sections {
    flex: 1;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    gap: 2rem 1rem;
    flex-wrap: wrap;

    & > * {
        flex: 1;
        min-width: 40rem;
    }

    & > *:not(:last-child) {
        margin-right: 2.5rem;
    }
}
