@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixin";

.sudoku-main {
}

.container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
