@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixin';

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
