@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixin';
@import '../../../styles/base/button';
@import '../../../styles/base/typography';

.algo-modal {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: $color-grey-dark-5;

    & > *:not(:last-child) {
        margin-bottom: 1.7rem;
    }

    h2 {
        position: relative;
        padding-bottom: 1.5rem;
        font-weight: 500;
        color: $color-primary-dark-4;
        @include heading-under-gradient($color-primary-dark-4, $color-primary-light-2);
    }

    .exit {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-100%);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid transparent;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        @include flex-center;

        &:hover {
            border: 1px solid currentColor;
            font-size: 1.01em;
        }
    }

    .part {
        h4 {
            font-size: 2.2rem;
            margin-bottom: 0.6rem;
        }
        font-size: 1.8rem;
        & > * {
            margin-bottom: 0.68rem;
        }
        & > *:not(:first-child) {
            margin-left: 3.5rem;
        }
        sup {
            font-size: 11px;
        }
    }
    .part:nth-child(2) {
        h4 {
            color: $color-primary-dark-3;
        }
    }
    .part:nth-child(3) {
        h4 {
            color: $color-primary-dark-2;
        }
    }
    .part:nth-child(4) {
        h4 {
            color: $color-primary-dark-1;
        }
    }
    .btn-wrapper {
        text-align: center;
        button {
            @include button-medium-fill($color-primary-dark-2);
            color: $color-grey-light-1;
            font-size: 90%;
        }
    }
}
