@import "../../../styles/abstracts/variables";
@import "../../../styles/base/button";
@import "../../../styles/abstracts/mixin";

.nav {
	display: flex;
	align-items: center;
	min-height: 6rem;
	background-color: $color-secondary-light-2;
	padding: .7rem 0;
	font-size: 2rem;

	& > *:not(:last-child) {
		margin-right: 8rem;
		display: flex;
	}

	.heading {
		display: flex;
		align-items: center;
		color: $color-grey-dark-4;

		& > *:first-child {
			margin-left: 1.5rem;
			margin-right: 2.7rem;
		}

		& h2 {
			font-weight: 500;
			font-size: 135%;
		}
	}

	.controls {
		display: flex;
	}

	button {
		margin-left: 9rem;
		@include button-medium-fill($color-secondary-dark-2);
		font-size: 1.9rem;
		color: $color-grey-light-2;
	}

	button:disabled {
		background-color: rgba($color-secondary-dark-2, .5);
		border: 1px solid rgba($color-secondary-dark-2, .5);
		cursor: not-allowed;
	}
}
