@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixin';
@import '../../../styles/base/button';

.container {
    margin-top: 7rem;
    color: $color-tertiary-dark-3;
    @include flex-center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

$control-layout-bp: 750px;

.controls {
    @include flex-center;
    gap: 2rem 0;

    @include respond($control-layout-bp) {
        flex-direction: column;
    }
}

.control-wrapper {
    position: relative;
    &:not(:last-child) {
        @media only screen and (min-width: $control-layout-bp) {
            margin-right: 2.5rem;
        }
    }
    padding-right: 1rem;

    p {
        position: absolute;
        top: 105%;
        font-size: 1.6rem;
    }

    @include respond($control-layout-bp) {
        width: 100%;
    }
}

.control {
    border: 1.5px solid $color-grey-dark-4;
    padding: 1.2rem;
    font-size: 2rem;
    border-radius: 3px;
    color: $color-grey-dark-5;

    display: flex;
    box-shadow: $shadow-light;

    &:focus-within {
        border: 1.5px solid $color-secondary;

        label {
            border-right: 2px solid $color-secondary-light-4;
        }
    }

    label {
        font-weight: 400;
        border-right: 2px solid $color-grey-dark-4;
        padding-right: 1rem;
        margin-right: 1rem;
    }

    input {
        border: none;
        font-size: 100%;

        &:focus {
            outline: none;
        }
    }
}

.action {
    position: relative;
    button {
        @include btn-grad;
    }
    p {
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        white-space: nowrap;
        font-size: 1.6rem;
    }
}

.control-long {
    @include respond($control-layout-bp) {
        width: 100%;
    }

    input {
        min-width: 0;
        flex: 1;
    }
}
.control-short {
    input {
        width: 11rem;

        @include respond($control-layout-bp) {
            width: 100%;
        }
    }
}
