@import "../../styles/abstracts/variables";

.footer {
	color: $color-grey-dark-3;
}

.content-wrapper {
	width: 86%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 1.7rem;
	min-height: 12rem;
	margin: 0 auto;
	border-top: 2px solid $color-grey-light-3;

	& > *:first-child {
		margin-bottom: 1rem;
	}
}

.services {
	display: flex;
	text-align: left;

	a {
		font-weight: 400;
		color: inherit;
		text-decoration: none;
	}

	a:not(:last-child) {
		margin-right: 2rem;
		padding-right: 2rem;
		border-right: 3px solid $color-grey-dark-3;
	}
}

.copyright {
	display: flex;
	font-size: 1.5rem;

	p:not(:last-child) {
		padding-right: .7rem;
		margin-right: .7rem;
		display: flex;
		align-items: center;
	}

	.ampersand {
		font-size: 120%;
	}
}
